soot-infoflow-summaries/build/
soot-infoflow-summaries/target/
/.metadata
/.recommenders
.idea/
*.iml
soot-infoflow/.settings/org.eclipse.jdt.core.prefs
soot-infoflow-android/.settings/org.eclipse.jdt.core.prefs
soot-infoflow-cmd/.settings/org.eclipse.jdt.core.prefs
soot-infoflow-summaries/.settings/org.eclipse.jdt.core.prefs
soot-infoflow-android/.classpath
soot-infoflow-summaries/.classpath
soot-infoflow-cmd/sootOutput/
*.prefs
